*{
    font-family: cursive;
}

body{
    margin: 0;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    border-bottom: #3f3f3f 1px solid;
    min-height: 80px;
}

#logo{
    padding-left: 15px;
}

#menu{
    display: flex;
    justify-content: end;
    align-items: center;
}

nav{
    height: 52px;
    width: 100%;
    top: 0;
    left: 0;
}

nav ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
}

nav ul ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

nav ul li{
    position: relative;
    float: right;
    width: 30%;
    text-align: center;
}

nav ul li:hover ul{
    display: block;
}

nav ul li li{
    position: relative;
    float: none;
    width: 50%;
    border: none;
    top: 5px;
}

nav ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 15px 25px;
    font-size: 1.2em;
    box-sizing: border-box;
    background-color: #000000;
    min-width: 130px;
}

nav ul ul li a{
    font-size: 1em;
}

nav li img{
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
}

#logo img{
    width: 60px;
    border-radius: 100px;
}

#logo{
    display: flex;
    justify-content: start;
    align-items: center;
}